.spinner {
        width: 20rem;
        height: 20rem;
        border-width: 2rem;
}

.actions {
    display: flex;
    justify-content: space-around;

    button + button {
        margin-left: 0.1rem;
    }
}